nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
body{
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
}
.font{
    font-size: 45px;
    color: black;
    font-weight: bold;
}
.a{
    color: skyblue;
}
nav>ul{
    display: flex;
    align-items: center;
    }
nav li {
    list-style: none;
    margin-right: 51px;
}     
nav a{
    text-decoration: none;
    color: grey;
}
.head{
    background-color: rgb(151, 171, 179);
    background-image: url('../images/')
    background-repeat: no-repeat;
}
.space{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.button{
    border-radius: 5px;
    background: skyblue;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}