nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
}
.font{
    font-size: 45px;
    color: black;
    font-weight: bold;
}
.a{
    color: blue;
}
nav>ul{
    display: flex;
    align-items: center;
    }
nav li {
    list-style: none;
    margin-right: 51px;
}     
nav a{
    text-decoration: none;
    color: grey;
}