nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
body{
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
}
.font{
    font-size: 45px;
    color: black;
    font-weight: 700;
}
.a{
    color: skyblue;
}
nav>ul{
    display: flex;
    align-items: center;
    }
nav li {
    list-style: none;
    margin-right: 51px;
}     
nav a{
    text-decoration: none;
    color: rgb(26, 25, 25);
}
.head{
    background-color: rgb(151, 171, 179);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.space{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    border-radius: 5px;
    background: skyblue;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
.hi{
  font-size: 45px;
  color: rgb(17, 23, 26);
  margin-bottom: 0;
}
.hu{
    font-size: 85px;
    font-weight:700 ;
    margin-top: 5px;
    margin-bottom: 20px;
}
.class{
    padding: 130px;
    border-radius: 10px;
    background-color: rgb(151, 171, 179);
    margin: 135px;
}
.title{
    color:rgb(4, 5, 5);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.details{
    color: rgb(17, 23, 26) ;
    text-align: center;
    font-size: 18px;
}
main{
    margin: auto;
}
main section{
    margin-top: 100px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.more{
    text-align: center;
}
.no{
    font-size: 20px;
     font-weight: 700;
}
.contain{
    display: flex;
    gap: 25px;
    max-width: 1150px;
    margin: auto;
}
.sec{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 35px;
    color: skyblue;
}
.skill{
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(176, 186, 205);
    box-shadow: 0px 5px 50px 0px rgb(29, 28, 28);
}
.tile{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
}
.column{
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    
}
.neww{
    margin-top: 30px;
    padding-left: 700px;
}
.wrong{
    max-width: 1000px;
    margin: auto;
}
.footer{
    display: flex;
    background-color:rgb(151, 171, 179) ;
    padding: 30px 150px;
    margin-top: 100px;
    gap: 150px;
}
.foot{
    width: 50%;
}
.box input[type="text"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 16px;
    width: 100%;
    border: 0;
}
.descrip{
    columns: white;
}
.all{
    color: skyblue;
}
footer{
    border-radius: 30;
    padding: 60px;
}